# Python
venv/
__pycache__/
*.pyc
*.pyo
dist/
*.egg-info/

# Database
*.db
*.sqlite3

# Uploads
uploads/medicines/

# VAPID keys
.vapid/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
.env*
